<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
  <Appenders>
    <Lambda name="Lambda">
      <PatternLayout>
          <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %-5p %c{1}:%L - %m%n</pattern>
      </PatternLayout>
    </Lambda>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Lambda" />
    </Root>
  </Loggers>
</Configuration>

<!-- <Configuration>
	로그 출력 방식
	<Appenders>
    	콘솔 출력 방식
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="moniter.PrinterClient" level="DEBUG"></Logger>
		<Root level="DEBUG">
			<appender-ref ref="console-log" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration> -->

